﻿@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.js"></script>
    @Scripts.Render("~/bundles/app")
    <link rel="stylesheet" type="text/css" href="~/Scripts/codemirror-5.14.2/theme/neat.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/codemirror-5.14.2/lib/codemirror.css" />
    <link rel="stylesheet" href="~/Scripts/codemirror-5.14.2/addon/display/fullscreen.css">
    <script src="~/Scripts/codemirror-5.14.2/lib/codemirror.js"></script>
    <script src="~/Scripts/codemirror-5.14.2/addon/mode/multiplex.js"></script>
    <script src="~/Scripts/codemirror-5.14.2/addon/display/fullscreen.js"></script>
    <script src="~/Scripts/codemirror-5.14.2/mode/python/python.js"></script>
    <script src="~/Scripts/codemirror-5.14.2/mode/xml/xml.js"></script>
    <script src="~/Scripts/codemirror-5.14.2/mode/javascript/javascript.js"></script>
    <script src="~/Scripts/codemirror-5.14.2/mode/css/css.js"></script>
    <script src="~/Scripts/codemirror-5.14.2/mode/htmlmixed/htmlmixed.js"></script>
    <script src="~/Scripts/codemirror-5.14.2/mode/razor/razor.js"></script>
    <script src="~/Scripts/codemirror-5.14.2/mode/clike/clike.js"></script>
}

<h1>Manage Question types</h1>

<script type="text/template" name="error" controller="errorController">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> <%=message%>
    </div>
</script>

<script type="text/template" name="questiontypesoverview" controller="qtoverviewController">
    <h2>Question types</h2>
    <div class="row">
        <div class="well">
            <div class="btn-group">
                <div class="btn btn-default" <%=framework.action("click", "newPython") %>>Create with Python</div>
                <div class="btn btn-default" <%=framework.action("click", "newCSharp") %>>Create with CSharp</div>
                <div class="btn-group">
                    <div type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create from binairy <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <% _.each(natives, function(native) { %>
                        <li><a <%=framework.action("click", "newNative", native)%>><%=native.Name%></a></li>
                        <%}); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <ul class="media-list">
            <% _.each(questiontypes, function(qt) { %>
            <li class="media">
                <div class="media-left pull-left">
                    <a>
                        <img style="width: 64px; height: 64px;" class="media-object" src="<% if (qt.Type === 'python') { %>
                        http://i.stack.imgur.com/jBli3.png
                        <% } else if (qt.Type === 'csharp') { %>
                        https://assets.toptal.io/uploads/blog/category/logo/16/c_sharp.png
                        <% } else { %>
                        http://w.ppy.sh/e/e1/DLL_icon.jpg
                        <% } %>" alt="Type" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><%= qt.Name %></h4>
                    <span class="btn-group btn-group-sm">
                        <a class="btn btn-default" <%= framework.action("click", "onItemClick", qt) %>>Edit</a>
                        <a class="btn btn-danger" <%= framework.action("click", "itemRemove", qt) %>>Delete</a>
                    </span>
                </div>

            </li>
            <% }); %>
        </ul>
    </div>
</script>

<script type="text/template" name="editor" controller="editorController">
    <div class="row">
        <h2>Editor</h2>
    </div>
    <div class="well">
        <div class="row">

            <div class="btn-group" role="group">
                <div class="btn btn-primary" <%=framework.action("click", "rebuild")%>>Rebuild</div>
                <div class="btn btn-success" <%=framework.action("click", "save")%>>Save</div>
                <div class="btn btn-success" <%=framework.action("click", "newFile")%>>New file</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">

            <ul class="list-group">
                <% _.each(Sources, function(source, key) { %>
                <li class="list-group-item" <%=framework.action("click", "onItemClick", {name: key})%>><%=key%></li>
                <%});%>
            </ul>
        </div>
        <div class="col-lg-9">
            <form render="code"></form>
        </div>
    </div>
</script>

<script type="text/template" name="code" controller="codeController">
    <textarea id="ta-content" rows="30"></textarea>
</script>
<div class="row" id="app-error"></div>
<div class="row" id="app-view" render="questiontypesoverview">

</div>